# Get a free Postgres database in ~2 minutes at neon.tech or vercel.com/storage
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# Generate with: openssl rand -base64 32
NEXTAUTH_SECRET="replace-with-a-random-32-byte-secret"
NEXTAUTH_URL="http://localhost:3000"
